body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 10;
  color: #333;
}

h1 {
  text-align: center;
  background: rgba(245, 245, 245, 0.8);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 1s ease-out;
  color: #2c3e50;
}

.main {
  animation: slideDown 1s ease-out, fadeIn 1s ease-in;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="email"],
input[type="text"] {
  width: 90%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.main button {
  width: 49%;
  padding: 0.75rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main button:hover {
  background-color: #2980b9;
}

.op {
  margin-top: 1rem;
  text-align: center;
  width: 35%;
  background: rgba(52, 152, 219, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideUp 1s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.op h4 {
  margin: 0;
}
.op button{
    margin-left: 80%;
    margin-top: 1px;
    background-color: #eff9ff;
    color: rgb(0, 0, 0);
    border:#000000;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
#outputText {
    word-wrap: break-word;
    color: #ffffff;
 
}
a {
  color: #ffffff;
  text-decoration: none;
}
copy-btn{
   direction: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .main {
    padding: 0;
  }
  .op {
    margin-top: -1px;
    width: 99%;
  }
}
